.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 16px;
    display: flex;
}

.icon {
    width: 64px;
    height: 64px;
}

.details {
    margin-left: 16px;
}